@model ECommerce.Model.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_SubPageLayout.cshtml";
}

@section ContactUs {
    <section class="contact_section layout_padding">
        <div class="container ">
            <div class="heading_container">
                <h2 class="">
                    Login
                </h2>
            </div>

        </div>

        <hr />

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="SaveLogin" asp-controller="Account">
                        <div asp-validation-summary="All" class="text-danger" style="color: red"></div>

                        <div>
                            <label asp-for="Email"></label>
                            <input asp-for="Email" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Password"></label>
                            <input asp-for="Password" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        
                        
                        <div class="d-flex ">
                            
                                <button type="submit">Login</button>
                            
                        </div>

                        <div style="text-align:center">
                            <a asp-controller="Account" asp-action="Register">Dont Have An Account?</a>
                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <div class="map_container">
                        <div class="map-responsive">
                            <iframe src=""
                                    width="600" height="300" frameborder="0" style="border:0; width: 100%; height:100%"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
